@import '../../common/styles.scss';
.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: center;
}

#pagination{
  font-family: $font-primary;
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
}