@import '../../common/styles.scss';

:export {
    yellow: $Yellow;
}

.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
}


.navigator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 30%;
    gap: 20%;
}

.navigator :hover {
    background-color: #808080;
    cursor: pointer;

}

section {
    text-align: center;
    font-size: 28px;
}

.tile {
    background-color: $Grey;
    border-radius: 15%;
    padding: 10%;
    flex: 1 0 0;
}

@media only screen and (max-width: 1645px) {

    /* horizontal scrollbar for tables if mobile screen */
    .navigator {
        gap: 30px;
    }
}

h1 {
    color: $Black;
}

h3 {
    color: $Yellow;
}

a {
    color: $Blue;
}